@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
  color: #b9abab;
  overflow: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.nav-items li {
  list-style: none;
}
.nav-items li a {
  position: relative;
  text-decoration: none;
  color: #b9abab;
}
.hamburger {
  display: none;
}
.nav-items li a::after {
  content: "";
  width: 0;
  height: 0;
  background-color: #6b4d43;
  border-radius: 12px;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: all 0.25s;
}
.nav-items li a:hover::after {
  width: 100%;
  height: 2px;
}

/* Main section starts from here */

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-left {
  overflow: hidden;
}
.main-right {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  margin-inline: 2em;
}
.main-right__para {
  letter-spacing: 1px;
}
.main-right__heading {
  font-size: 3.5rem;
  white-space: nowrap;
}
.main-right__btn {
  padding: 0.8em;
  margin-top: 10px;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid #6b4d43;
  border-radius: 12px;
  cursor: pointer;
  color: #6b4d43;
}
.main-right__btn:hover {
  background-color: #6b4d43;
  color: #fff;
}
.strips {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
.strip-silver {
  width: 1vw;
  height: 100vh;
  background-color: #b9abab;
}
.strip-leather {
  width: 0.8vw;
  height: 100vh;
  background-color: #6b4d43;
}
.watch-img {
  position: absolute;
  width: 20%;
  max-width: 100%;
}
/* Preloader */

.preloader {
  width: 100%;
  background-color: #6b4d43;
  height: 100vh;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
}

/* Responsive  */

@media (max-width: 980px) {
  body {
    background-color: #6b4d43;
    overflow: visible;
  }
  .preloader {
    background-color: #b9abab;
    color: #6b4d43;
  }
  .main-right {
    position: absolute;
  }
  .strip-silver,
  .strip-leather {
    display: none;
  }
  .strips {
    position: static;
  }
  .watch-img {
    top: 30%;
    left: 30%;
    width: 40%;
    mix-blend-mode: multiply;
  }

  .main-right__btn {
    background-color: #b9abab;
    color: #6b4d43;
    border: 2px solid #b9abab;
  }
}

@media (max-width: 564px) {
  .nav-items {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  .nav-items li a {
    display: none;
  }
  .hamburger {
    display: block;
    width: 30px;
    margin-right: 5px;
  }
  hr {
    display: none;
  }
}
@media (max-width: 537px) {
  .preloader h1 {
    font-size: 3rem;
  }
  .main-right__heading {
    font-size: 3rem;
  }
}
@media (max-width: 465px) {
  .main-right__heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 398px) {
  .preloader h1 {
    font-size: 2rem;
  }
  .main-right__heading {
    font-size: 2rem;
  }
  .main-right__para {
    font-size: medium;
  }
}
@media (max-width: 323px) {
  .main-right__heading {
    font-size: 1.5rem;
  }
  .main-right__para {
    font-size: small;
  }
  .watch-img {
    top: 35%;
  }
}
